<div class="row product-partials">
    <div class="col s12 l4">
        {{ form_row(form.products.vars.prototype.name) }}
    </div>
    <div class="col s12 l4">
        {{ form_row(form.products.vars.prototype.quantity) }}
    </div>
    <div class="col s12 l4">
        {{ form_row(form.products.vars.prototype.price) }}
    </div>
</div>
